<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501671629544-aknt8hcv5k4ar68ctir22ufp0tj91t79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501671629544-aknt8hcv5k4ar68ctir22ufp0tj91t79</string>
	<key>API_KEY</key>
	<string>AIzaSyDJDvlSV9JEYv5bxZ1RfC7T99Lo98Qqkgk</string>
	<key>GCM_SENDER_ID</key>
	<string>501671629544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rawan.daab</string>
	<key>PROJECT_ID</key>
	<string>daab-db</string>
	<key>STORAGE_BUCKET</key>
	<string>daab-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501671629544:ios:263738bdbfb9631f3f2f5d</string>
</dict>
</plist>